*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --maxWidth: 1100px;
    --color1: #bbb;
    --color2: rgb(0, 140, 255);
    --color3: rgb(222, 122, 0);
    
}
body{
    background-color: var(--color1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#mainCont{
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: var(--maxWidth);
    margin: 0 auto;
    box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.2);
}
header{
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 2em;
    background: linear-gradient(105deg, white, rgb(233, 233, 233));
    position: relative;
    transition: 1s;
}
header > img{
    width: 200px;
}
header > span{
    cursor: pointer;
    transition: 0.2s;
}
header > span:hover{
    border-bottom: 2px solid black;
    padding-bottom: 4px;
}
.flexH{
    display: flex;
    gap: 1em;
    align-items: center;
}
.flexV{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
#cont2{
    flex-grow: 1;
}
footer{
    padding: 2rem;
    background-color: rgb(100, 100, 100);
    align-items: center;
    color: white;
    font-size: 1.5em;
}
footer img{
    width: 200px;
}
input{
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px gray solid;
}
.spacer{
    flex-grow: 1;
}
.btn{
    cursor: pointer;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: var(--color2);
    font-weight: 600;
    color: white;
    transition: 0.5s;
    width: fit-content;
}
.btn:hover{
    background-color: gray;
}
.btnNaranja{
    background-color: var(--color3);
}
.btnVerde{
    background-color: green;
}
#buscador{
    align-items: stretch;
}
.oculto{
    display: none;
}
.landPublicacion{
    background-image: url(/im/gradientTop.svg), linear-gradient(45deg, green 5%, blue 50%, purple);
    background-size: cover;
    color: white;
    font-size: 1.2em;
    overflow: hidden;
    position: relative;
    min-height: 350px;
}
.landPublicacion > div{
    flex-grow: 1;
    padding: 2em;
    gap: 0.5rem;
    z-index: 2;
}
.landPublicacion img{
    width: 100%;
    position: absolute;
    transition: 2s;
    transform: translate(10px, 10px);
    bottom: 0;
    max-width: 640px;
    right: 0;
    opacity: 1;
}
.landNombre{
    text-align: center;
    font-size: 1.2em;
    padding: 0 1em;
}
.landNombre h2, .landNombre h3{
    font-weight: 100;
}
.landNombre h1{
    color: var(--color2);
}
.landLogos{
    width: 100%;
    padding: 0 1em;
}
.landLogos span{
    flex-grow: 1;
}
.landLogos img{
    width: 100%;
}
.landH{
    text-align: center;
    color: gray;
    font-weight: 600;
    font-size: 1.4em;
    padding: 1em;
    border-bottom: 2px solid gray;
    position: relative;
}
.landOferta{
    padding: 1em;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    align-items: stretch;
}
.card{
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 1em;
    gap: 0.5em;
    flex-grow: 1;
    width: min-content;
    max-width: 25%;
    min-width: 200px;
}
.card h1{
    font-size: 1.5em;
    color: var(--color3);
    max-width: 100%;
}
.card h2{
    font-size: 1em;
    color: gray;
    font-weight: 400;
    transform: translate(0, 0.5em);
}
.card > span{
    border-top: 2px solid lightgray;
    padding-top: 0.5em;
}
.card > div {
    flex-grow: 1;
    align-items: flex-end;
    font-size: 0.8em;
}
#landBtnFiltrar{
    font-size: 1rem;
    position: absolute;
    right: 1em;
    top: 1em;
}
.landCarrousel{
    height: 350px;
    overflow: hidden;
    justify-content: flex-end;
}
.carrouselImg{
    display: flex;
    width: 300%;
    transition: 2s;
}
.carrouselSector{
    padding: 2em;
    width: 100%;
    height: 350px;
    position: relative;
}
/* .carrouselSector img{
    position: absolute;
    top: 0;
    right: 0;
    width: var(--maxWidth);
} */
.carrouselTxt{
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
}
.carrouselBtn{
    position: absolute;
    margin-bottom: 1em;
    align-self: center;
    z-index: 2;
}
.carrouselBtn span{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: 2s;
}
@media only screen and (max-width: 925px) {
    .landPublicacion img{
        opacity: 0.6;
    }
}
@media only screen and (max-width: 750px) {
    header{
        flex-direction: column;
        align-items: flex-start;
        max-height: 134px;
        overflow: hidden;
    }
    header > img{
        margin-bottom: 1em;
    }
    header > div  >img{
        height: 40px;
    }
    header > span:hover{
        border-bottom: 0;
        padding-bottom: 0;
        border-left: 2px solid black;
        padding-left: 4px;
    }
    #hambHeader{
        display: flex;
        position: absolute;
        right: 2em;
        top: 3em;
        cursor: pointer;
    }
    .landPublicacion{
        flex-direction: column;
        align-items: flex-start;
    }
    .landPublicacion span{
        max-height: 200px;
    }
    .landLogos{
        flex-wrap: wrap;
        justify-content: center;
    }
    .landLogos img{
        max-height: 50px;
    }
}