<div class="landPublicacion flexH">
  <div class="flexV">
    <h1>CICLO 2025</h1>
    <span>Inscripciones Abiertas</span>
    <span>Cursos Presenciales</span>
    <span>Abierto a toda la comunidad</span>
    <span type="button" class="btn btnAzul">INSCRIPCION</span>
  </div>
  <span>
    <img src="im/res01.svg">
  </span>
</div>
<div class="landLogos flexH">
  <span><img src="/im/logos/logoCFL406.svg" alt=""></span>
  <span><img src="/im/logos/logoSEC.svg" alt=""></span>
  <span><img src="/im/logos/logoFAECYS.svg" alt=""></span>
  <span><img src="/im/logos/logoMTEYSS.svg" alt=""></span>
  <span><img src="/im/logos/logoBSASPROV.svg" alt=""></span>
  <span><img src="/im/logos/logoIPFL.svg" alt=""></span>
</div>
<div class="landNombre">
  <h2>Centro de Formacion Laboral 406</h2>
  <h1>"San José Obrero"</h1>
  <h3>Centro de Formación Laboral del Sindicato <br>
    Empleados de Comercio de San Martín, Buenos Aires</h3>
</div>

<div class="landCarrousel flexH">

  <div class="flexH carrouselSector" id="sector1">
    <span class="carrouselTxt flexV">
      <h1>Inscribite hoy!!!</h1>
      <span>Cursos presenciales abiertos a la comunidad</span>
      <div class="btn">Inscribite</div>
    </span>
    <img class="carrouselImg" src="/im/fotos/slide2.jpg" alt="">
  </div>

</div>

<div class="landH">
  Oferta formativa 2025
  <div class="btn btnVerde" id="landBtnFiltrar">Filtrar</div>
</div>

<div class="landOferta flexH">

<!--   <div class="card flexV">
    <h2>Sede San Martín</h2>
    <h1>Electricidad Básica</h1>
    <span>✔ Curso presencial</span>
    <span>✔ Titulo oficial</span>
    <span>✔ Inscripciones abiertas</span>
    <div class="flexH">
      <div class="btn">Inscripción</div>
      <div class="btn btnNaranja">Requisitos</div>
    </div>
  </div> -->

</div>

<div class="landMapa">

</div>


<script src="/script/landing.js"></script>