<div class="landPublicacion flexH">
  <div class="flexV">
    <h1>CICLO 2025</h1>
    <span>Inscripciones Abiertas</span>
    <span>Cursos Presenciales</span>
    <span>Abierto a toda la comunidad</span>
    <div class="btn btnAzul btnInscripcion">INSCRIPCION</div>
  </div>
  <span>
    <img src="im/fotos/land.jpg">
  </span>
</div>
<div class="landLogos flexH">
  <span><img src="/im/logos/logoCFL406.svg" alt=""></span>
  <span><img src="/im/logos/logoSEC.svg" alt=""></span>
  <span><img src="/im/logos/logoFAECYS.svg" alt=""></span>
  <span><img src="/im/logos/logoMTEYSS.svg" alt=""></span>
  <span><img src="/im/logos/logoBSASPROV.svg" alt=""></span>
  <span><img src="/im/logos/logoIPFL.svg" alt=""></span>
</div>
<div class="landNombre">
  <h2>Centro de Formacion Laboral 406</h2>
  <h1>"San José Obrero"</h1>
  <h3>Centro de Formación Laboral del Sindicato <br>
    Empleados de Comercio de San Martín, Buenos Aires</h3>
</div>

<div class="landCarrousel flexV">

  <div class="carrouselImg">

    <div class="flexH carrouselSector sectores" id="sector1">
      <span class="carrouselTxt flexV">
        <h1>Abierto a toda la comunidad</h1>
        <span>Inscribite hoy!</span>
        <div class="btn">Inscribite</div>
      </span>
    </div>

    <div class="flexH carrouselSector sectores" id="sector2">
      <span class="carrouselTxt flexV">
        <h1>Cursos presenciales</h1>
        <span>Inscribite hoy!</span>
        <div class="btn">Formulario</div>
      </span>
      </div>

    <div class="flexH carrouselSector sectores" id="sector3">
      <span class="carrouselTxt flexV">
        <h1>Titulos oficiales</h1>
        <span>Inscribite hoy!</span>
        <div class="btn">Inscribite</div>
      </span>
    </div>

  </div>

  <div class="carrouselBtn flexH">
    <span data-id="0" style="background-color: white;"></span>
    <span data-id="1"></span>
    <span data-id="2"></span>
  </div>

</div>

<div class="landH" id="ofertaFormativa">
  Oferta formativa 2026
  <!-- <div class="btn btnVerde" id="landBtnFiltrar">Filtrar</div> -->
</div>

<div class="landOferta flexH">
<!-- javascript fill -->
</div>

<div class="landH" id="landMapa">
  Sedes
</div>

<div class="landMapa">
  <span class="flexH" style="padding: 0 0 1em 1em;">
    <div class="btn mapa" data-id="0">San Martín</div>
    <div class="btn mapa" data-id="1">San Miguel</div>
  </span>
  <span id="landMapaIF">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6570.102401229726!2d-58.537018!3d-34.577571!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb777ac83ac91%3A0xc57d993939145bf0!2sCentro%20de%20Formaci%C3%B3n%20Laboral%20N%C2%BA406!5e0!3m2!1ses-419!2sar!4v1743792581181!5m2!1ses-419!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </span>
</div>

<script>window.cursos = <%- JSON.stringify(cursos) %></script>

<script defer type="module" src="/script/landing.js"></script>
<script defer src="/script/carrousel.js"></script>
<script defer src="/script/inscripcion.js"></script>