<div class="landPublicacion flexH">
  <div class="flexV">
    <h1>CICLO 2025</h1>
    <span>Inscripciones Abiertas</span>
    <span>Cursos Presenciales y Online</span>
    <span>Diplomatura en Comercio</span>
    <span>Finalización de Secundario</span>
    <span type="button" class="btn btnAzul">INSCRIPCION</span>
  </div>
  <span>
    <img src="im/res01.svg">
  </span>
</div>
<div class="landLogos flexH">
  <span><img src="/im/logos/logoCFL406.svg" alt=""></span>
  <span><img src="/im/logos/logoSEC.svg" alt=""></span>
  <span><img src="/im/logos/logoFAECYS.svg" alt=""></span>
  <span><img src="/im/logos/logoMTEYSS.svg" alt=""></span>
  <span><img src="/im/logos/logoBSASPROV.svg" alt=""></span>
  <span><img src="/im/logos/logoIPFL.svg" alt=""></span>
</div>
<div class="landNombre">
  <h2>Centro de Formacion Laboral 406</h2>
  <h1>"San José Obrero"</h1>
  <h3>Centro de Formación Laboral del Sindicato <br>
    Empleados de Comercio de San Martín, Buenos Aires</h3>
</div>