<form action="/" method="POST" class="formulario" id="loginForm">
    <h1>Panel de administración</h1>
    <input type="text" name="username" placeholder="Usuario" required>
    <input type="password" name="password" placeholder="Contraseña" required>
    <span class="btn" id="enviarFormLogin">Ingresar</span>
    <input type="submit" value="asdsa">
</form>