<div class="panelContent panelHome">
    <h1>Bienvenido al Panel de Control</h1>
    <p>Selecciona una opción del menú para comenzar.</p>
</div>

<div class="panelContent panelCursos" style="display: none;">
    <%- include('../partial/panel/cursos') %>
</div>

<div class="panelContent panelAlumnos" style="display: none;">
    <h1>Alumnos</h1>
    <p>Contenido relacionado con alumnos.</p>
</div>

<div class="panelContent panelProfesores" style="display: none;">
    <h1>Profesores</h1>
    <p>Contenido relacionado con profesores.</p>
</div>

<div class="panelContent panelSedes" style="display: none;">
    <h1>Sedes</h1>
    <p>Contenido relacionado con sedes.</p>
</div>

<div class="panelContent panelFormularios" style="display: none;">
    <h1>Formularios</h1>
    <p>Contenido relacionado con formularios.</p>
</div>