<div class="accion">
    <span> <h2>INSCRIBITE HOY!!!</h2> </span>
    <span>Comezá hoy un nuevo camino de capacitación. <br>Queremos acompañarte en tu crecimiento.</span>
    <span class="btn btnInscripcion">Inscripciones</span>
</div>
<footer class="flexV" id="footer">
    <img src="/im/logos/logoCFL406w.svg" alt="logo CFL406">
    <span>"Capacitarse es crecer"</span>
    <span id="contactos">
        <img src="" alt="">
    </span>
</footer>