<header>
    <img src="/im/logos/logoCFL406.svg" alt="CFL406 del SEC San Martín" >
    <span id="btnHome" class="btnHeader">Home</span>
    <span id="btnFormacion" class="btnHeader">Formación</span>
    <span id="btnSedes" class="btnHeader">Sedes</span>
    <span id="btnContactos" class="btnHeader">Contactos</span>
    <span class="spacer"></span>
    <div id="buscador" class="flexH">
        <input type="text" id="txtBuscado">
        <div id="btnBuscar" class="btn btnAzul">Buscar</div>
        <div id="resultados"></div>
    </div>
    <div id="hambHeader" class="hamb oculto"><img src="/im/iconos/menuH.svg" alt=""></div>
</header>
<script defer type="module" src="/script/header.js"></script>