<header>
    <img src="/im/logos/logoCFL406.svg" alt="CFL406 del SEC San Martín" >
    <span id="btnHome">Home</span>
    <span id="btnFormacion">Formación</span>
    <span id="btnSedes">Sedes</span>
    <span class="spacer"></span>
    <div id="buscador" class="flexH">
        <input type="text" id="txtBuscado">
        <div id="btnBuscar" class="btn btnAzul">Buscar</div>
    </div>
    <div id="hambHeader" class="hamb oculto"><img src="/im/iconos/menuH.svg" alt=""></div>
</header>
<script src="/script/header.js"></script>