<div class="cortina" id="cortina">
    <div class="popup">
        <span>
            <span id="txt"></span>
            <span id="botones" class="flexH">
                <div class="btn" data-resp="true" id="btnPopUpAceptar">Aceptar</div>
                <div class="btn btnNaranja" data-resp="false" id="btnPopUpCancelar">Cancelar</div>
            </span>
        </span>
    </div>
    <div class="popupCortina"></div>
</div>

<div id="error">
</div>