<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro de Formación Laboral 406</title>
    <link rel="stylesheet" href="/style/estilo.css">
    <link rel="icon" type="image/x-icon" href="/im/logos/logoCFL406.ico">
</head>
<body>
    <div id="mainCont">
        <%- include("../partial/popup")%>
        <%- include("../partial/panel/header")%>
          <div id="cont2" class="flexV">
          <%- body %>
          </div>
        <%- include("../partial/footer")%>
    </div>
    <script defer src="/script/panel.js"></script>
</body>
</html>