<header>
    <img src="/im/logos/logoCFL406.svg" alt="CFL406 del SEC San Martín" >
    <span id="btnHome" class="btnHeader" data-target=".panelHome">Home</span>
    <span id="btnCursos" class="btnHeader" data-target=".panelCursos">Cursos</span>
    <span id="btnAlumnos" class="btnHeader off" data-target=".panelAlumnos">Alumnos</span>
    <span id="btnProfesores" class="btnHeader off" data-target=".panelProfesores">Profesores</span>
    <span id="btnSedes" class="btnHeader off" data-target=".panelSedes">Sedes</span>
    <span id="btnFormularios" class="btnHeader off" data-target=".panelFormularios">Formularios</span>
</header>
<script defer type="module" src="/script/panel/header.js"></script>